pid_file = "/run/vault/agent.pid"

vault {
  address         = "https://127.0.0.1:8200"
  ca_cert         = "/opt/vault/tls/ca.crt"
  tls_server_name = "${vault_fqdn}"
}

auto_auth {
  method "aws" {
    mount_path = "auth/aws"
    config = {
      type = "iam"
      role = "vault-server"
    }
  }
}

template {
  source      = "/etc/vault.d/templates/vault-server-tls.ctmpl"
  destination = "/opt/vault/tls/server.crt.new"
  perms       = "0640"
  command     = "/usr/local/libexec/vault/vault-server-tls-reload.sh"
}
