{{- with pkiCert "pki/issue/vault-server" "common_name=${vault_fqdn}" "ttl=24h" -}}
{{ .Key | writeToFile "/opt/vault/tls/server.key.new" "vault" "vault" "0640" }}
{{ .Cert }}
{{ range .CAChain }}{{ . }}{{ end }}
{{- end -}}
