# audit.sh — Vault audit device configuration.

configure_file_audit_device() {
  vault_audit_log_file="$${1}"

  log_info "Configuring Vault file audit device"

  if ! vault audit list -format=json | jq -e '."file/"' >/dev/null 2>&1; then
    vault audit enable file file_path="$${vault_audit_log_file}"
  fi

  log_info "Vault file audit device configured"
}
