get_bootstrap_root_ca() {
  bootstrap_tls_ca_cert_secret_arn="${bootstrap_tls_ca_cert_secret_arn}"

  fetch_secret "$${bootstrap_tls_ca_cert_secret_arn}"
}

get_bootstrap_tls_cert() {
  bootstrap_tls_server_cert_secret_arn="${bootstrap_tls_server_cert_secret_arn}"

  fetch_secret "$${bootstrap_tls_server_cert_secret_arn}"
}

get_bootstrap_tls_key() {
  bootstrap_tls_server_key_secret_arn="${bootstrap_tls_server_key_secret_arn}"

  fetch_secret "$${bootstrap_tls_server_key_secret_arn}"
}
