# license.sh — Vault Enterprise license retrieval and rendering.

fetch_vault_license() {
  vault_license_secret_arn="${vault_license_secret_arn}"

  fetch_secret "$${vault_license_secret_arn}"
}

write_vault_license() {
  vault_license_file="$${1}"

  vault_license="$(fetch_vault_license)"

  log_info "Writing the Vault license"
  printf '%s\n' "$${vault_license}" >"$${vault_license_file}"
  chown vault:vault "$${vault_license_file}"
  chmod 0640 "$${vault_license_file}"
}
