pid_file = "/run/vault/agent.pid"

vault {
  address         = "https://127.0.0.1:8200"
  ca_cert         = "$${vault_tls_ca_file}"
  tls_server_name = "${vault_fqdn}"
}

auto_auth {
  method "aws" {
    mount_path = "auth/aws"
    config = {
      type = "iam"
      role = "vault-server"
    }
  }
}

template {
  source      = "$${vault_agent_server_tls_template_file}"
  destination = "$${vault_tls_cert_file}"
  perms       = "0640"
  command     = "kill -HUP $(systemctl show --property MainPID --value vault.service)"
}
