AUTO_JOIN_TAG_KEY="${auto_join_tag_key}"
AUTO_JOIN_TAG_VALUE="${auto_join_tag_value}"
AVAILABILITY_ZONE="{{ v1.availability_zone }}"
BOOTSTRAP_CLUSTER_STATE_NAME="${bootstrap_cluster_state_name}"
BOOTSTRAP_NODE_ID_NAME="${bootstrap_node_id_name}"
BOOTSTRAP_PKI_STATE_NAME="${bootstrap_pki_state_name}"
EBS_AUDIT_DEVICE_NAME="${ebs_audit_device_name}"
EBS_RAFT_DEVICE_NAME="${ebs_raft_device_name}"
INSTANCE_ID="{{ v1.instance_id }}"
LICENSE_SECRET_ARN="${license_secret_arn}"
LOCAL_IPV4="{{ ds.meta_data.local_ipv4 }}"
RECOVERY_KEYS_SECRET_ARN="${recovery_keys_secret_arn}"
ROOT_TOKEN_SECRET_ARN="${root_token_secret_arn}"
VAULT_AUTH_JWT_HCP_TERRAFORM_HOSTNAME="${vault_auth_jwt_hcp_terraform_hostname}"
VAULT_AUTH_JWT_HCP_TERRAFORM_MOUNT_PATH="${vault_auth_jwt_hcp_terraform_mount_path}"
VAULT_AUTH_JWT_HCP_TERRAFORM_OIDC_DISCOVERY_CA_PEM="${vault_auth_jwt_hcp_terraform_oidc_discovery_ca_pem}"
VAULT_AUTH_JWT_HCP_TERRAFORM_ORGANIZATION_NAME="${vault_auth_jwt_hcp_terraform_organization_name}"
VAULT_AUTH_JWT_HCP_TERRAFORM_ROLE_NAME="${vault_auth_jwt_hcp_terraform_role_name}"
VAULT_AUTH_JWT_HCP_TERRAFORM_WORKSPACE_ID="${vault_auth_jwt_hcp_terraform_workspace_id}"
VAULT_AUTH_JWT_ROLE_MAX_TTL="${vault_auth_jwt_role_max_ttl}"
VAULT_AUTH_JWT_ROLE_TTL="${vault_auth_jwt_role_ttl}"
VAULT_AUTOPILOT_CLEANUP_DEAD_SERVERS="${vault_autopilot_cleanup_dead_servers}"
VAULT_AUTOPILOT_DEAD_SERVER_LAST_CONTACT_THRESHOLD="${vault_autopilot_dead_server_last_contact_threshold}"
VAULT_AUTOPILOT_MIN_QUORUM="${vault_autopilot_min_quorum}"
VAULT_AWS_AUTH_ROLE_MAX_TTL="${vault_aws_auth_role_max_ttl}"
VAULT_AWS_AUTH_ROLE_TTL="${vault_aws_auth_role_ttl}"
VAULT_FQDN="${vault_fqdn}"
VAULT_IAM_ROLE_ARN="${vault_iam_role_arn}"
VAULT_PKI_INTERMEDIATE_CA_COMMON_NAME="${vault_pki_intermediate_ca_common_name}"
VAULT_PKI_INTERMEDIATE_CA_COUNTRY="${vault_pki_intermediate_ca_country}"
VAULT_PKI_INTERMEDIATE_CA_CSR_SSM_PARAMETER_NAME="${vault_pki_intermediate_ca_csr_ssm_parameter_name}"
VAULT_PKI_INTERMEDIATE_CA_KEY_BITS="${vault_pki_intermediate_ca_key_bits}"
VAULT_PKI_INTERMEDIATE_CA_KEY_TYPE="${vault_pki_intermediate_ca_key_type}"
VAULT_PKI_INTERMEDIATE_CA_ORGANIZATION="${vault_pki_intermediate_ca_organization}"
VAULT_PKI_INTERMEDIATE_CA_SSM_PARAMETER_NAME="${vault_pki_intermediate_ca_ssm_parameter_name}"
VAULT_PKI_MOUNT_PATH="${vault_pki_mount_path}"
VAULT_PKI_SERVER_CERT_TTL="${vault_pki_server_cert_ttl}"
VAULT_PKI_SIGNED_INTERMEDIATE_CA_SECRET_ARN="${vault_pki_signed_intermediate_ca_secret_arn}"
VAULT_PKI_SIGNED_INTERMEDIATE_POLL_INTERVAL_SECONDS="${vault_pki_signed_intermediate_poll_interval_seconds}"
VAULT_PKI_SIGNED_INTERMEDIATE_WAIT_TIMEOUT_SECONDS="${vault_pki_signed_intermediate_wait_timeout_seconds}"
VAULT_PKI_VAULT_MOUNT_MAX_TTL="${vault_pki_vault_mount_max_ttl}"
VAULT_PKI_VAULT_SERVER_ROLE_MAX_TTL="${vault_pki_vault_server_role_max_ttl}"
VAULT_VERSION="${vault_version}"
