# shellcheck shell=sh
# bootstrap.env
#
# A map of variables that come from the deployment process. Variables are
# populated by Terraform at deploy time or cloud-init at run-time (using
# Jinja templating).

readonly AUTO_JOIN_TAG_KEY="${auto_join_tag_key}"
readonly AUTO_JOIN_TAG_VALUE="${auto_join_tag_value}"
readonly AVAILABILITY_ZONE="{{ v1.availability_zone }}"
readonly BOOTSTRAP_VAULT_CLUSTER_STATE_SSM_PARAMETER_NAME="${bootstrap_vault_cluster_state_ssm_parameter_name}"
readonly BOOTSTRAP_VAULT_PKI_STATE_SSM_PARAMETER_NAME="${bootstrap_vault_pki_state_ssm_parameter_name}"
readonly BOOTSTRAP_INSTANCE_ID_SSM_PARAMETER_NAME="${bootstrap_instance_id_ssm_parameter_name}"
readonly EBS_AUDIT_DEVICE_NAME="${ebs_audit_device_name}"
readonly EBS_RAFT_DEVICE_NAME="${ebs_raft_device_name}"
readonly INSTANCE_ID="{{ v1.instance_id }}"
readonly LICENSE_SECRET_ARN="${license_secret_arn}"
readonly LOCAL_IPV4="{{ ds.meta_data.local_ipv4 }}"
readonly RECOVERY_KEYS_SECRET_ARN="${recovery_keys_secret_arn}"
readonly ROOT_TOKEN_SECRET_ARN="${root_token_secret_arn}"
readonly VAULT_AUTH_JWT_HCP_TERRAFORM_HOSTNAME="${vault_auth_jwt_hcp_terraform_hostname}"
readonly VAULT_AUTH_JWT_HCP_TERRAFORM_MOUNT_PATH="${vault_auth_jwt_hcp_terraform_mount_path}"
readonly VAULT_AUTH_JWT_HCP_TERRAFORM_OIDC_DISCOVERY_CA_PEM="${vault_auth_jwt_hcp_terraform_oidc_discovery_ca_pem}"
readonly VAULT_AUTH_JWT_HCP_TERRAFORM_ORGANIZATION_NAME="${vault_auth_jwt_hcp_terraform_organization_name}"
readonly VAULT_AUTH_JWT_HCP_TERRAFORM_ROLE_NAME="${vault_auth_jwt_hcp_terraform_role_name}"
readonly VAULT_AUTH_JWT_HCP_TERRAFORM_WORKSPACE_ID="${vault_auth_jwt_hcp_terraform_workspace_id}"
readonly VAULT_AUTH_JWT_ROLE_MAX_TTL="${vault_auth_jwt_role_max_ttl}"
readonly VAULT_AUTH_JWT_ROLE_TTL="${vault_auth_jwt_role_ttl}"
readonly VAULT_AUTOPILOT_CLEANUP_DEAD_SERVERS="${vault_autopilot_cleanup_dead_servers}"
readonly VAULT_AUTOPILOT_DEAD_SERVER_LAST_CONTACT_THRESHOLD="${vault_autopilot_dead_server_last_contact_threshold}"
readonly VAULT_AUTOPILOT_MIN_QUORUM="${vault_autopilot_min_quorum}"
readonly VAULT_AWS_AUTH_ROLE_MAX_TTL="${vault_aws_auth_role_max_ttl}"
readonly VAULT_AWS_AUTH_ROLE_TTL="${vault_aws_auth_role_ttl}"
readonly VAULT_FQDN="${vault_fqdn}"
readonly VAULT_IAM_ROLE_ARN="${vault_iam_role_arn}"
readonly VAULT_PKI_INTERMEDIATE_CA_COMMON_NAME="${vault_pki_intermediate_ca_common_name}"
readonly VAULT_PKI_INTERMEDIATE_CA_COUNTRY="${vault_pki_intermediate_ca_country}"
readonly VAULT_PKI_INTERMEDIATE_CA_CSR_SSM_PARAMETER_NAME="${vault_pki_intermediate_ca_csr_ssm_parameter_name}"
readonly VAULT_PKI_INTERMEDIATE_CA_KEY_BITS="${vault_pki_intermediate_ca_key_bits}"
readonly VAULT_PKI_INTERMEDIATE_CA_KEY_TYPE="${vault_pki_intermediate_ca_key_type}"
readonly VAULT_PKI_INTERMEDIATE_CA_ORGANIZATION="${vault_pki_intermediate_ca_organization}"
readonly VAULT_PKI_CA_CHAIN_SSM_PARAMETER_NAME="${vault_pki_ca_chain_ssm_parameter_name}"
readonly VAULT_PKI_MOUNT_PATH="${vault_pki_mount_path}"
readonly VAULT_PKI_SERVER_CERT_TTL="${vault_pki_server_cert_ttl}"
readonly VAULT_PKI_SIGNED_INTERMEDIATE_CA_SECRET_ARN="${vault_pki_signed_intermediate_ca_secret_arn}"
readonly VAULT_PKI_SIGNED_INTERMEDIATE_POLL_INTERVAL_SECONDS="${vault_pki_signed_intermediate_poll_interval_seconds}"
readonly VAULT_PKI_SIGNED_INTERMEDIATE_WAIT_TIMEOUT_SECONDS="${vault_pki_signed_intermediate_wait_timeout_seconds}"
readonly VAULT_PKI_VAULT_MOUNT_MAX_TTL="${vault_pki_vault_mount_max_ttl}"
readonly VAULT_PKI_VAULT_SERVER_ROLE_MAX_TTL="${vault_pki_vault_server_role_max_ttl}"
readonly VAULT_VERSION="${vault_version}"
