pid_file = "/opt/vault/agent/agent.pid"

vault {
  address         = "https://127.0.0.1:8200"
  ca_cert         = "/opt/vault/tls/ca.crt"
  tls_server_name = "${vault_fqdn}"
}

auto_auth {
  method "aws" {
    mount_path = "auth/aws"
    config = {
      type = "iam"
      role = "vault-server"
    }
  }
}

template {
  source      = "/etc/vault-agent/templates/server.crt.ctmpl"
  destination = "/opt/vault/tls/server.crt"
  perms       = "0640"
  command     = "/opt/vault/agent/reload-vault-tls.sh"
}

template {
  source      = "/etc/vault-agent/templates/server.key.ctmpl"
  destination = "/opt/vault/tls/server.key"
  perms       = "0640"
  command     = "/opt/vault/agent/reload-vault-tls.sh"
}
